{% extends 'global/base.html' %}

{% block content %}

{% if exibir_formulario %}
    {% include 'global/partials/_form_1col.html' %}
{% endif %}

{% if tabela_dados %}
    <div class="tabela-container">
        <table class="tabela-consulta">
            <thead>
                <tr>
                    <th>matnr</th>
                    <th>gernr</th>
                    <th>serge</th>
                    <!-- <th>zser_pr</th> -->
                    <th>ztipo</th>
                    <th>zver_ap</th>
                    <th>zsta_eq</th>
                    <!-- <th>nr_lcr_un</th>
                    <th>nr_lcr_mast</th> -->
                    <!-- <th>nr_cd_br_cx</th> -->
                    <!-- <th>stat_div_rec</th> -->
                    <th>id_lote</th>
                </tr>
            </thead>
            <tbody>
                
                {% for item in tabela_dados %}
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.matnr }}</td>
                        <td>{{ item.gernr }}</td>
                        <td>{{ item.serge }}</td>
                        <!-- <td>{{ item.zser_pr }}</td> -->
                        <td>{{ item.ztipo }}</td>
                        <td>{{ item.zver_ap }}</td>
                        <td>{{ item.zsta_eq }}</td>
                        <!-- <td>{{ item.nr_lcr_un }}</td>
                        <td>{{ nr_lcr_mast }}</td> -->
                        <!-- <td>{{ item.nr_cd_br_cx }}</td> -->
                        <!-- <td>{{ item.stat_div_rec }}</td> -->
                        <td>{{ item.id_lote }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="buttons-container">
            <button class="btn-voltar" onclick="history.back()">Limpar</button>
            {% include 'global/partials/_pagination.html' %}
            <div class="buttons_id">
                <button class="btn-rec">Recebimento</button>
                <button class="btn-p-rec">Pré-recebimento</button>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}