{% extends 'global/base.html' %}

{% block content %}

<style>
    .form-card-2col {
        margin-top: 65px;
        margin-bottom: auto;
    }
</style>

<div class="form-container">
    <div class="form-card-2col" action="{{ form_action }}" method="POST">
        <form method="POST">
            {% include 'global/partials/_form_2col.html' %}
        </form>
    </div>
</div>

<div class="form-actions">
    {% if pode_editar %}
    <button type="submit" class="btn btn-primary">Inserir</button>
    <a href="{% url 'fechar_romaneio' romaneio.id %}" class="btn btn-warning">
        Fechar Romaneio
    </a>
    {% else %}
    <div class="alert alert-warning">
        Este romaneio está fechado. Apenas visualização.
    </div>
    {% endif %}
</div>

{% endblock content %}