{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'global/partials/_head.html' %}
  <meta charset="UTF-8">
  <title>Cadastro | C-Trends BPO</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <div class="register-left">
    <img class="logo-register" src="{% static 'global/images/new_logo.png' %}" alt="logo arancia">
    <p>Flowsistem!</p>
    <div class="register-services">
      <div class="register-service"><img src="{% static 'global/images/call-center.png' %}" alt=""> Call Center</div>
      <div class="register-service"><img src="{% static 'global/images/central-retencao.png' %}" alt=""> Central
        Retenção</div>
      <div class="register-service"><img src="{% static 'global/images/cobranca.png' %}" alt=""> Cobrança</div>
      <div class="register-service"><img src="{% static 'global/images/operador-logistico.png' %}" alt=""> Operador
        Logístico</div>
      <div class="register-service"><img src="{% static 'global/images/caca-pos.png' %}" alt=""> Caça Pos</div>
      <div class="register-service"><img src="{% static 'global/images/sac.png' %}" alt=""> SAC</div>
    </div>
  </div>

  <div class="register-right">
    <form method="post" class="register-box">
      {% csrf_token %}
      <h2>Cadastro</h2>

      <div class="register-field">
        <i class="fa-regular fa-user"></i>
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">Usuário</label>
      </div>

      <div class="register-field">
        <i class="fa-regular fa-user"></i>
        {{ form.first_name }}
        <label for="{{ form.first_name.id_for_label }}">Nome</label>
      </div>

      <div class="register-field">
        <i class="fa-solid fa-envelope"></i>
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">E-mail</label>
      </div>

      <div class="register-field">
        <i class="fa-solid fa-lock"></i>
        {{ form.password1 }}
        <label for="{{ form.password1.id_for_label }}">Senha</label>
      </div>

      <div class="register-field">
        <i class="fa-solid fa-lock"></i>
        {{ form.password2 }}
        <label for="{{ form.password2.id_for_label }}">Confirme a Senha</label>
      </div>

      <button type="submit" class="register-button">Cadastrar</button>
      <p class="register-link">Já tem uma conta? <a href="{% url 'logistica:login' %}">Entrar</a></p>
    </form>

  </div>
</body>

</html>