<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'global/partials/_head.html' %}
</head>

<body>
    {% include 'global/partials/_nav_usuario.html' %}
    {% include 'global/partials/_header.html' %}
    <div class="forma">
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        {% if messages %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                {% for message in messages %}
                Toastify({
                    text: "{{ message|escapejs }}",
                    duration: 5000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "{% if message.tags == 'error' %}#e74c3c{% else %}#2ecc71{% endif %}",
                    stopOnFocus: true,
                    close: true,
                }).showToast();
                {% endfor %}
            });
        </script>
        {% endif %}
        
    </div>
</body>

</html>