{% if dados %}
{% if dados.0 %}
<div class="tabela-dinamica-container">
    <table class="tabela-dinamica">
        <thead>
            <tr>
                {% for key in dados.0.keys %}
                <th>{{ key|capfirst }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dados %}
            <tr>
                {% for key, value in row.items %}
                <td
                    class="{% if key == 'status_code' %}{% if value == 200 %}status-ok{% else %}status-error{% endif %}{% endif %}">
                    {% if key == "payload" or key == "response" %}
                    <button class="btn-json" data-json='{{ value|safe }}' data-key="{{ key|capfirst }}"
                        onclick="showJsonModal(this)">
                        <i class="fa-solid fa-file-import"></i>
                    </button>
                    {% else %}
                    {{ value }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}