<h2>{{ form.nome_formulario }}</h2>

<form method="POST" class="form-card-2col">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% if impar %}
    <div class="form-group form-centralizado">
      {{ primeiro_campo.label_tag }}
      {{ primeiro_campo }}
      {% if primeiro_campo.errors %}
        <div class="error">{{ primeiro_campo.errors }}</div>
      {% endif %}
    </div>
  {% endif %}

  <div class="form-grid-2col">
    {% for campo in form %}
      {% if campo.name != primeiro_campo.name %}
        <div class="form-group">
          {{ campo.label_tag }}
          {{ campo }}
          {% if campo.errors %}
            <div class="error">{{ campo.errors }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="form-actions">
    <button type="submit" class="submit-button-right">
      {{ botao_texto }}
    </button>
  </div>
</form>