<h2>{{ form.nome_formulario }}</h2>

<form method="POST" action="{{ acao_url }}" class="card-2col">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% if impar %}
    <div class="card-group card-centralizado">
        {{ primeiro_campo.label_tag }}
        {{ primeiro_campo }}
        {% if primeiro_campo.errors %}
        <div class="card-error">{{ primeiro_campo.errors }}</div>
        {% endif %}
    </div>
    {% endif %}

    <div class="card-grid-2col">
        {% for campo in form %}
        {% if campo.name != primeiro_campo.name %}
        <div class="card-group">
            {{ campo.label_tag }}
            {{ campo }}
            {% if campo.errors %}
            <div class="card-error">{{ campo.errors }}</div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="form-actions">
        {% if botao_texto == "RECEBER DESINSTALAÇÃO" %}
        <button type="submit" class="submit-button-right" name="enviar_evento" value="1">
            {{ botao_texto }}
        </button>
        {% elif botao_texto == "RECEBER ESTOQUE" %}
        <button type="button" class="submit-button-right" id="abrirModal">
            {{ botao_texto }}
        </button>
        {% elif botao_texto == "INICIAR CHECK-IN" %}
        <button type="button" class="submit-button-right" id="abrirModalCheckin">
            {{ botao_texto }}
        </button>
        {% elif botao_texto == "RECEBER REVERSA" %}
        <div class="actions-menu">
            <button type="button" class="btn-actions" onclick="toggleActionsMenu()">
                Ações ▾
            </button>
            <div id="actions-dropdown" class="actions-dropdown">
                {% csrf_token %}
                <div class="itens">
                    <button type="submit" class="dropdown-item" name="cancelar_pedido" value="1">
                        CANCELAR PEDIDO
                    </button>
                    <button type="submit" class="dropdown-item" name="troca_custodia_simpl" value="1">
                        TROCA DE CUSTODIA
                    </button>
                </div>
            </div>
        </div>
        {% elif botao_texto == "RECEBER INSUCESSO" %}
        <button type="button" id="btnInsuccesso" class="submit-button-right">
            {{ botao_texto }}
        </button>
        {% elif fluxo_encerrado %}
        <button type="submit" class="submit-button-right btn-disabled"
            disabled style="opacity:0.6; cursor:not-allowed;" name="enviar_evento" value="1">
            FLUXO FINALIZADO
        </button>
        {% elif botao_texto == "PROXIMA TRACKING" %}
        <button type="submit" class="submit-button-right" name="enviar_evento" value="1">
            {{ botao_texto }}
        </button>
        {% else %}
        <button type="button" class="submit-button-right">
            Definir botão no template _form_card_2col
        </button>
        {% endif %}
    </div>
</form>


<!--##### MODAL CHECK-IN #####-->

<div id="modalCheckin" class="modal">
    <div class="modal-content">
        <h3>Confirmação</h3>
        <br>
        <p>Tem certeza que deseja confirmar o check-in?</p>

        <div class="modal-actions">
            <button id="checkinConfirmar" class="submit-button-right"
            data-url="{% url 'logistica:client_checkin' %}?client=cielo&pedido={{ request.session.order }}">
                Sim, confirmar
            </button>

            <button id="checkinCancelar" class="submit-button-right">
                Cancelar
            </button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const abrirModalCheckin = document.getElementById("abrirModalCheckin");
        const modalCheckin = document.getElementById("modalCheckin");
        const btnCancelar = document.getElementById("checkinCancelar");
        const btnConfirmar = document.getElementById("checkinConfirmar");

        // Abrir modal
        if (abrirModalCheckin) {
            abrirModalCheckin.addEventListener("click", () => {
                modalCheckin.style.display = "flex";
            });
        }

        // Fechar modal
        if (btnCancelar) {
            btnCancelar.addEventListener("click", () => {
                modalCheckin.style.display = "none";
            });
        }

        // Confirmar ação
        if (btnConfirmar) {
            btnConfirmar.addEventListener("click", () => {
                const url = btnConfirmar.getAttribute("data-url");
                window.location.href = url;
            });
        }

        // Fechar ao clicar fora
        modalCheckin.addEventListener("click", (e) => {
            if (e.target === modalCheckin) {
                modalCheckin.style.display = "none";
            }
        });
    });
</script>



<!--##### MODAL ESTOQUE #####-->

<div id="modalConfirm" class="modal">
    <div class="modal-content">
        <h3>Confirmação</h3>
        <br>
        <p>Tem certeza que deseja inserir no estoque?</p>
        <div class="modal-actions">
            <button id="confirmarSim" class="submit-button-right" data-url="{% url 'logistica:recebimento_remessa' %}">
                Sim
            </button>
            <button id="fecharModal" class="submit-button-right">Cancelar</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const abrirModal = document.getElementById("abrirModal");
        const modal = document.getElementById("modalConfirm");
        const fecharModal = document.getElementById("fecharModal");
        const confirmarSim = document.getElementById("confirmarSim");

        if (abrirModal) {
            abrirModal.addEventListener("click", () => {
                modal.style.display = "flex";
            });
        }

        if (fecharModal) {
            fecharModal.addEventListener("click", () => {
                modal.style.display = "none";
            });
        }

        if (confirmarSim) {
            confirmarSim.addEventListener("click", () => {
                const url = confirmarSim.getAttribute("data-url");
                window.location.href = url;
            });
        }

        modal.addEventListener("click", e => {
            if (e.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>