{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'global/css/style.css' %}">
<link rel="shortcut icon" href="{% static 'global/images/new_logo_reduzida.png' %}" >
<link rel="stylesheet" href="{% static 'global/vendor/toastify/toastify.min.css' %}">
<link rel="stylesheet" href="{% static 'global/vendor/fontawesome/css/all.min.css' %}">
<script src="{% static 'global/vendor/toastify/toastify.js' %}" defer></script>
<script src="{% static 'global/vendor/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'global/vendor/jquery/jquery.mask.min.js' %}" defer></script>
<title>Arancia - {{ site_title }}</title>
