{% load static %}

<div class="sidebar colapsada">
    <div class="scroll-area">
        <div class="seta-tamanho">
            <i class="fa-solid fa-angles-right" id="toggle-sidebar"></i>
        </div>

        <a href="{% url 'logistica:index' %}" class="logo-container">
            <img class="sidebar-logo sidebar-logo-expandida" src="{% static 'global/images/new_logo.png' %}"
                alt="Logo Expandida">
            <img class="sidebar-logo sidebar-logo-reduzida" src="{% static 'global/images/new_logo_reduzida.png' %}"
                alt="Logo Reduzida">
        </a>

        <div class="divider-horizontal"></div>
        <div class="divider-horizontal-reduzida"></div>

        <a href="{% url 'logistica:index' %}" class="itens-sidebar {% if current_menu == 'home' %}active{% endif %}">
            <i class="fa-solid fa-house"></i>
            <span class="texto-item">Home</span>
        </a>

        <!-- Relatórios -->
        <!--PROBLEMA MAL RESOLVIDO, NAO PODE MEXER AQUI SE NAO VAI QUEBRAR TUDO-->
        <div class="dropdown" style="display: none;">
            <button type="button" class="dropbtn itens-sidebar" id="fake-button">
            </button>
            <div class="dropdown-content" id="relatorios-dropdown1">
            </div>
        </div>

        <!-- Logística -->
        {% if perms.logistica.logistica_perm %}
        <div class="dropdown {% if current_parent_menu == 'logistica' %}active{% endif %}">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fas fa-tools"></i>
                <span class="texto-item">&nbsp; Logística</span>
            </button>
            <div class="dropdown-content">
                {% if perms.logistica.lastmile_b2c %}
                <h5 class="submenu-toggle {% if current_menu == 'lastmile' %}active{% endif %}" data-target="lastmile-sub">Lastmile (B2C)</h5>
                <div class="sub-submenu {% if current_menu == 'lastmile' %}show{% endif %}" id="lastmile-sub">
                    <h5 class="submenu-toggle {% if current_submenu == 'consultas' %}active{% endif %}" data-target="consulta-sub">Consultas</h5>
                    <div class="sub-submenu {% if current_submenu == 'consultas' %}show{% endif %}" id="consulta-sub">
                        <a href="{% url 'logistica:consultar_pedido' %}"
                        class="{% if current_subsubmenu == 'consultar_pedido' %}active{% endif %}">
                            Consultar pedido
                        </a>
                        <a href="{% url 'logistica:consulta_pedidos' %}"
                        class="{% if current_subsubmenu == 'extracao_pedido' %}active{% endif %}">
                            IP - Extração de Pedidos
                        </a>
                        <a href="{% url 'logistica:consulta_etiquetas' %}"
                        class="{% if current_subsubmenu == 'consulta_etiquetas' %}active{% endif %}">
                            IP - Consulta de Etiquetas
                        </a>
                    </div>
                    {% if perms.logistica.entrega_com_sap %}
                    <h5 class="submenu-toggle" data-target="lastmile-entrada-sub-comp">Fluxo de Entrega</h5>
                    <div class="sub-submenu" id="lastmile-entrada-sub-comp">
                        <a href="{% url 'logistica:consulta_pedidos' %}">IP - Extração de Pedidos</a>
                        <a href="{% url 'logistica:pcp' 201 %}">IP - PCP</a>
                        <h5 class="submenu-toggle" data-target="reserva-sub-comp">SAP - Reserva de equipamento</h5>
                        <div class="sub-submenu" id="reserva-sub-comp">
                            <a href="{% url 'logistica:reserva_equip' 84 %}">SAP - Reserva</a>
                            <a href="{% url 'logistica:consulta_result_ma' %}">SAP - Consulta</a>
                        </div>
                        <a href="{% url 'logistica:retorno_picking' 202 %}">IP - Retorno do Picking</a>
                        <a href="{% url 'logistica:consolidacao' 203 %}">IP - Consolidação</a>
                        <h5 class="submenu-toggle" data-target="saida-sub-comp">SAP - Saída para Campo</h5>
                        <div class="sub-submenu" id="saida-sub-comp">
                            <a href="{% url 'logistica:saida_campo' 1 %}">SAP - Saída</a>
                            <a href="{% url 'logistica:consulta_result_ec' %}">SAP - Consulta</a>
                        </div>
                        <a href="{% url 'logistica:expedicao' 204 %}">IP - Expedição</a>
                        <a href="{% url 'logistica:consulta_etiquetas' %}">IP - Consulta de Etiquetas</a>
                        <a href="{% url 'logistica:troca_custodia' 205 %}">IP - Troca de Custódia</a>
                        <h5 class="submenu-toggle" data-target="estornos-saida-reserva-comp">SAP - Estornos</h5>
                        <div class="sub-submenu" id="estornos-saida-reserva-comp">
                            <a href="{% url 'logistica:estorno_reserva' 85 %}">SAP - Estorno Reserva de Equipamento</a>
                            <a href="{% url 'logistica:cancelamento_saida_campo' 2 %}">SAP - Estorno Saida para
                                Campo</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.logistica.inst_simplified %}
                    <h5 class="submenu-toggle {% if current_submenu == 'entrega_simplificada' %}active{% endif %}" data-target="lastmile-entrada-sub">Fluxo de Entrega - Simplificado</h5>
                    <div class="sub-submenu {% if current_submenu == 'entrega_simplificada' %}show{% endif %}"
                        id="lastmile-entrada-sub">

                        <a href="{% url 'logistica:pcp_simpl' 201 %}"
                        class="{% if current_subsubmenu == 'pcp' %}active{% endif %}">
                            IP - PCP
                        </a>

                        <a href="{% url 'logistica:retorno_picking_simpl' 202 %}"
                        class="{% if current_subsubmenu == 'retorno_picking' %}active{% endif %}">
                            IP - Retorno do Picking
                        </a>

                        <a href="{% url 'logistica:consolidacao_simpl' 203 %}"
                        class="{% if current_subsubmenu == 'consolidacao' %}active{% endif %}">
                            IP - Consolidação
                        </a>

                        <a href="{% url 'logistica:expedicao_simpl' 204 %}"
                        class="{% if current_subsubmenu == 'expedicao' %}active{% endif %}">
                            IP - Expedição
                        </a>

                        <a href="{% url 'logistica:troca_custodia_simpl' 205 %}"
                        class="{% if current_subsubmenu == 'troca_custodia' %}active{% endif %}">
                            IP - Troca de Custódia
                        </a>

                        <a href="{% url 'logistica:recebimento_insucesso' %}"
                        class="{% if current_subsubmenu == 'insucesso' %}active{% endif %}">
                            IP - Insucesso de Entrega
                        </a>

                        <a href="{% url 'logistica:unsuccessful_insert' %}"
                        class="{% if current_subsubmenu == 'conferencia_insucesso' %}active{% endif %}">
                            IP - Conferência de Insucesso
                        </a>
                    </div>
                    {% endif %}
                    {% if perms.logistica.desinstalacao %}
                    <h5 class="submenu-toggle {% if current_submenu == 'retirada' %}active{% endif %}" data-target="lastmile-retirada-sub">Fluxo de Retirada</h5>
                    <div class="sub-submenu {% if current_submenu == 'retirada' %}show{% endif %}" id="lastmile-retirada-sub">
                        <a href="{% url 'logistica:order_return_check' %}"
                        class="{% if current_subsubmenu == 'conferir_retirada' %}active{% endif %}">
                            Conferir Retirada
                        </a>
                    </div>
                    {% endif %}
                    {% if perms.logistica.reverse %}
                    <h5 class="submenu-toggle {% if current_submenu == 'reverse' %}active{% endif %}" data-target="reverse-sub">Reversa</h5>
                    <div class="sub-submenu {% if current_submenu == 'reverse' %}show{% endif %}" id="reverse-sub">
                        <a href="{% url 'logistica:consultar_romaneio' %}"
                        class="{% if current_subsubmenu == 'consultar_romaneio' %}active{% endif %}">
                            Consultar Romaneio
                        </a>
                        <a href="{% url 'logistica:consulta_etiquetas' %}">Consulta de Etiquetas</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <h5 class="submenu-toggle {% if current_menu == 'SAP' %}active{% endif %}" data-target="sap-sub">SAP</h5>
                <div class="sub-submenu {% if current_menu == 'SAP' %}show{% endif %}" id="sap-sub">
                    <h5 class="submenu-toggle {% if current_submenu == 'sap_reserva' %}active{% endif %}" data-target="reserva-sub-sap">SAP - Reserva de equipamento</h5>
                    <div class="sub-submenu {% if current_submenu == 'sap_reserva' %}show{% endif %}" id="reserva-sub-sap">
                        <a href="{% url 'logistica:reserva_equip' 84 %}"
                        class="{% if current_subsubmenu == 'reserva_equip' %}active{% endif %}">
                            Reserva de equipamento (MA84)
                        </a>
                        <a href="{% url 'logistica:estorno_reserva' 85 %}"
                        class="{% if current_subsubmenu == 'reserva_equip' %}active{% endif %}">
                            Estorno Reserva de Equipamento (MA85)
                        </a>
                        <a href="{% url 'logistica:consulta_result_ma' %}"
                        class="{% if current_subsubmenu == 'consulta_reserva_equip' %}active{% endif %}">
                            Consulta Reserva/Estorno Reserva
                        </a>
                    </div>
                    <h5 class="submenu-toggle {% if current_submenu == 'sap_saida' %}active{% endif %}" data-target="saida-sub-sap">SAP - Saída para Campo</h5>
                    <div class="sub-submenu {% if current_submenu == 'sap_saida' %}show{% endif %}" id="saida-sub-sap">
                        <a href="{% url 'logistica:saida_campo' 1 %}"
                        class="{% if current_subsubmenu == 'saida_campo' %}active{% endif %}">
                            Saída para Campo (EC01)
                        </a>
                        <a href="{% url 'logistica:cancelamento_saida_campo' 2 %}"
                        class="{% if current_subsubmenu == 'saida_campo' %}active{% endif %}">
                            Estorno Saida para Campo (EC02)
                        </a>
                        <a href="{% url 'logistica:consulta_result_ec' %}"
                        class="{% if current_subsubmenu == 'consulta_saida_campo' %}active{% endif %}">
                            Consulta Saída/Estorno Saída
                        </a>
                    </div>
                </div>
                {% if perms.logistica.checkin_principal %}
                <h5 class="submenu-toggle {% if current_menu == 'checkin' %}active{% endif %}" data-target="checkin-sub">Check-In Geral</h5>
                <div class="sub-submenu {% if current_menu == 'checkin' %}show{% endif %}" id="checkin-sub">
                    <a href="{% url 'logistica:client_select' 'IN' %}"
                    class="{% if current_submenu == 'iniciar_checkin' %}active{% endif %}">
                        Iniciar Check-In
                    </a>
                    <a href="{% url 'logistica:client_consult' %}"
                    class="{% if current_submenu == 'consulta_clientes' %}active{% endif %}">
                        Consulta de Clientes
                    </a>
                    <a href="{% url 'logistica:product_create' %}"
                    class="{% if current_submenu == 'consulta_produtos' %}active{% endif %}">
                        Consulta de Produtos
                    </a>
                </div>
                {% endif %}
                {% if perms.logistica.checkout_principal %}
                <h5 class="submenu-toggle {% if current_menu == 'checkout' %}active{% endif %}"
                    data-target="checkout-sub">
                    Check-Out Geral
                </h5>
                <div class="sub-submenu {% if current_menu == 'checkout' %}show{% endif %}"
                    id="checkout-sub">
                    <a href="{% url 'logistica:client_select' 'OUT' %}"
                    class="{% if current_submenu == 'iniciar_checkout' %}active{% endif %}">
                        Iniciar Check-Out
                    </a>
                </div>
                {% endif %}
                {% if perms.logistica.estoque %}
                <h5 class="submenu-toggle {% if current_menu == 'estoque' %}active{% endif %}" data-target="recebimentos-sub">Estoque</h5>
                <div class="sub-submenu {% if current_menu == 'estoque' %}show{% endif %}" id="recebimentos-sub">
                    <a href="{% url 'logistica:recebimento_remessa' %}"
                    class="{% if current_submenu == 'recebimento_estoque' %}active{% endif %}">
                        Recebimento
                    </a>
                    {% if perms.logistica.gerente_estoque %}
                        <a href="{% url 'logistica:gerenciamento_estoque' %}"
                        class="{% if current_submenu == 'gerenciamento' %}active{% endif %}">Gestão de Estoque</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if perms.transportes.transp_menu %}
        <!-- Transportes -->
        <div class="dropdown {% if current_parent_menu == 'transportes' %}active{% endif %}">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-motorcycle"></i>
                <span class="texto-item">&nbsp;Transportes</span>
            </button>
            <div class="dropdown-content {% if current_menu == 'controle_campo' %}show{% endif %}">
                {% if perms.transportes.controle_campo %}
                <h5 class="submenu-toggle {% if current_menu == 'controle_campo' %}active{% endif %}"
                    data-target="controle-campo">
                    Controle de Campo
                </h5>
                <div class="sub-submenu {% if current_menu == 'controle_campo' %}show{% endif %}"
                    id="controle-campo">
                    <a href="{% url 'transportes:extrair_enderecos' %}"
                    class="{% if current_submenu == 'endereco' %}active{% endif %}">
                        Extrair Endereços
                    </a>
                    <h5 class="submenu-toggle {% if current_submenu == 'painel' %}active{% endif %}"
                        data-target="controle-campo1">
                        Painel
                    </h5>
                    <div class="sub-submenu {% if current_submenu == 'painel' %}show{% endif %}"
                        id="controle-campo1">
                        <a href="{% url 'transportes:controle' %}"
                        class="{% if current_subsubmenu == 'controle' %}active{% endif %}">
                            Controle
                        </a>
                        <a href="{% url 'transportes:Dashboard' %}"
                        class="{% if current_subsubmenu == 'dashboard' %}active{% endif %}">
                            Dashboard
                        </a>
                    </div>
                    {% if perms.transportes.CC_admin %}
                    <h5 class="submenu-toggle {% if current_submenu == 'usuarios' %}active{% endif %}"
                        data-target="Ferramentas1">
                        Usuários
                    </h5>
                    <div class="sub-submenu {% if current_submenu == 'usuarios' %}show{% endif %}"
                        id="Ferramentas1">
                        <a href="{% url 'transportes:criar_usuario' %}"
                        class="{% if current_subsubmenu == 'criar_usuario' %}active{% endif %}">
                            Criar Usuário
                        </a>
                        <a href="{% url 'transportes:ver_usuario' %}"
                        class="{% if current_subsubmenu == 'editar_usuario' %}active{% endif %}">
                            Editar Usuário
                        </a>
                    </div>
                    {% endif %}
                    <h5 class="submenu-toggle {% if current_submenu == 'rotas' %}active{% endif %}"
                        data-target="Ferramentas2">
                        Rotas
                    </h5>
                    <div class="sub-submenu {% if current_submenu == 'rotas' %}show{% endif %}"
                        id="Ferramentas2">
                        <a href="{% url 'transportes:scripting' %}"
                        class="{% if current_subsubmenu == 'roteirizacao' %}active{% endif %}">
                            Roteirização
                        </a>
                        <a href="{% url 'transportes:mover_rota' %}"
                        class="{% if current_subsubmenu == 'mover_rota' %}active{% endif %}">
                            Mover Rotas
                        </a>
                        <a href="{% url 'transportes:ordenar_rota' %}"
                        class="{% if current_subsubmenu == 'ordenar_rotas' %}active{% endif %}">
                            Ordenar Rotas
                        </a>
                    </div>
                    {% if perms.transportes.controle_chamados %}
                    <h5 class="submenu-toggle {% if current_submenu == 'controle_chamados' %}active{% endif %}"
                        data-target="controle-chamados">
                        Controle de Chamados
                    </h5>
                    <div class="sub-submenu {% if current_submenu == 'controle_chamados' %}show{% endif %}"
                        id="controle-chamados">
                        <a href="{% url 'transportes:consulta_os_pend' %}"
                        class="{% if current_subsubmenu == 'consulta_os_pend' %}active{% endif %}">
                            Consulta OS Pendentes
                        </a>
                        <a href="{% url 'transportes:consulta_os' %}"
                        class="{% if current_subsubmenu == 'consulta_os' %}active{% endif %}">
                            Consulta de OS
                        </a>
                        <a href="{% url 'transportes:lista_tecnicos' %}"
                        class="{% if current_subsubmenu == 'lista_tecnicos' %}active{% endif %}">
                            Lista de Técnicos
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <a href="{% url 'logistica:index' %}" class="itens-sidebar {% if current_menu == 'home' %}active{% endif %}">
                    <span class="texto-item">Lista de OS</span>
                </a>
            </div>
        </div>
        {% endif %}
        <!-- BKO-->
        {% if perms.backoffice.BKO %}
        <!-- <div class="dropdown {% if current_parent_menu == 'backoffice' %}active{% endif %}">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-file-lines"></i>
                <span class="texto-item">&nbsp;Backoffice</span>
            </button>
            <div class="dropdown-content">
                {% if perms.backoffice.Importar %}
                 <a href="{% url 'backoffice:equipamento_lista' %}">Lista de equipamentos</a>
                <h5 class="submenu-toggle {% if current_submenu == 'bko_importar' %}active{% endif %}" data-target="bko">Importar</h5>
                <div class="sub-submenu" id="bko">
                    <a href="{% url 'backoffice:importar_excel' %}"
                    class="{% if current_menu == 'importar_equipamentos' %}active{% endif %}">
                     Equipamentos
                    </a>
                </div>
                {% endif %}
            </div>
        </div> -->
        {% endif %}
        <!-- Gerenciamento -->
        {% if perms.logistica.gestao_total %}
        <div class="dropdown {% if current_parent_menu == 'gerenciamento' %}active{% endif %}">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-users"></i>
                <span class="texto-item">&nbsp; Gerenciamento</span>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'logistica:user_ger' %}"
                class="{% if current_menu == 'gestao_user' %}active{% endif %}">
                    Gestão de Usuários</a>
                <a href="{% url 'logistica:skill_ger' %}"
                class="{% if current_menu == 'gestao_gai' %}active{% endif %}">
                    Gestão de GAI
                </a>
            </div>
        </div>
        {% endif %}
        <!-- Sistemas -->
        <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-globe"></i>
                <span class="texto-item">&nbsp; Sistemas (Legados)</span>
            </button>
            <div class="dropdown-content">
                <a href="http://192.168.0.214/erp/login.aspx" target="_blank">Agendamentos</a>
                <a href="http://192.168.0.214/logyxrepresentante/login.aspx" target="_blank">Ordens de serviço</a>
                <a href="http://192.168.0.214/portaldeanalises/login" target="_blank">Portal</a>
                <a href="http://192.168.0.214/sga/login" target="_blank">Central de retenção</a>
                <a href="http://192.168.0.214/Relatorios/login/" target="_blank">Relatórios</a>
                <a href="http://192.168.0.214/site/Index.aspx" target="_blank">Gerencial</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'global/javascript/script.js' %}"></script>