{% load static %}

<div class="sidebar colapsada">
    <div class="scroll-area">
        <div class="seta-tamanho">
            <i class="fa-solid fa-angles-right" id="toggle-sidebar"></i>
        </div>

        <a href="{% url 'logistica:index' %}" class="logo-container">
            <img class="sidebar-logo sidebar-logo-expandida" src="{% static 'global/images/new_logo.png' %}"
                alt="Logo Expandida">
            <img class="sidebar-logo sidebar-logo-reduzida" src="{% static 'global/images/new_logo_reduzida.png' %}"
                alt="Logo Reduzida">
        </a>

        <div class="divider-horizontal"></div>
        <div class="divider-horizontal-reduzida"></div>

        <a href="{% url 'logistica:index' %}" class="itens-sidebar">
            <i class="fa-solid fa-house"></i>
            <span class="texto-item">Home</span>
        </a>

        <!-- Relatórios -->
        <!--PROBLEMA MAL RESOLVIDO, NAO PODE MEXER AQUI SE NAO QUEBRAR TUDO-->
        <div class="dropdown" style="display: none;">
            <button type="button" class="dropbtn itens-sidebar" id="fake-button">
            </button>
            <div class="dropdown-content" id="relatorios-dropdown1">
            </div>
        </div>

        <!-- Relatórios -->
        <!-- <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar" id="real-button">
                <i class="fa-solid fa-file" style="margin-left: 3px; margin-right: 2px;"></i>
                <span class="texto-item">&nbsp; Relatórios</span>
            </button>
            <div class="dropdown-content" id="relatorios-dropdown">
                <a href="#">PDFs Pendentes</a>
                <a href="#">PDFs Selecionados</a>
            </div>
        </div> -->

        <!-- Transporte
        <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-truck"></i>
                <span class="texto-item">&nbsp; Transporte</span>
            </button>
            <div class="dropdown-content">
                <h5 class="submenu-toggle" data-target="estornos-sub">Entrada-Fulfillment</h5>
                <div class="sub-submenu" id="estornos-sub">
                    <a href="{% url 'logistica:consulta_id_form' %}">SAP - Consulta ID</a>
                    <a href="{% url 'logistica:pre_recebimento' 13 %}">SAP - Pré-Recebimento</a>
                    <a href="{% url 'logistica:recebimento' 15 %}">SAP - Recebimento</a>
                    <a href="{% url 'logistica:consulta_resultados' %}">SAP - Consulta Resultados</a>
                    <h5 class="submenu-toggle" data-target="estornos-pre-sub">Estornos</h5>
                    <div class="sub-submenu" id="estornos-pre-sub">
                        <a href="{% url 'logistica:pre_recebimento' 14 %}">SAP - Estorno de Pré-Recebimento</a>
                        <a href="{% url 'logistica:recebimento' 16 %}">SAP - Estorno de Recebimento</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Logística -->
        <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fas fa-tools"></i>
                <span class="texto-item">&nbsp; Logística</span>
            </button>
            <div class="dropdown-content">
                {% if perms.logistica.entrada_flfm %}
                <h5 class="submenu-toggle" data-target="estornos-sub">Entrada (Fulfillment)</h5>
                <div class="sub-submenu" id="estornos-sub">
                    <a href="{% url 'logistica:consulta_id_form' %}">SAP - Consulta ID</a>
                    <a href="{% url 'logistica:pre_recebimento' 13 %}">SAP - Pré-Recebimento</a>
                    <a href="{% url 'logistica:recebimento' 15 %}">SAP - Recebimento</a>
                    <a href="{% url 'logistica:consulta_resultados' %}">SAP - Consulta Resultados</a>
                    <h5 class="submenu-toggle" data-target="estornos-pre-sub">Estornos</h5>
                    <div class="sub-submenu" id="estornos-pre-sub">
                        <a href="{% url 'logistica:pre_recebimento' 14 %}">SAP - Estorno de Pré-Recebimento</a>
                        <a href="{% url 'logistica:recebimento' 16 %}">SAP - Estorno de Recebimento</a>
                    </div>
                </div>
                {% endif %}
                {% if perms.logistica.lastmile_b2c %}
                <h5 class="submenu-toggle" data-target="lastmile-sub">Lastmile (B2C)</h5>
                <div class="sub-submenu" id="lastmile-sub">
                    <a href="{% url 'logistica:extracao_pedidos' %}">IP - Extração de Pedidos</a>
                    <a href="{% url 'logistica:consulta_etiquetas' %}">IP - Consulta de Etiquetas</a>
                    <a href="{% url 'logistica:pcp' 201 %}">IP - PCP</a>
                    <h5 class="submenu-toggle" data-target="reserva-sub">SAP - Reserva de equipamento</h5>
                    <div class="sub-submenu" id="reserva-sub">
                        <a href="{% url 'logistica:reserva_equip' 84 %}">SAP - Reserva</a>
                        <a href="{% url 'logistica:consulta_result_ma' %}">SAP - Consulta</a>
                    </div>
                    <a href="{% url 'logistica:retorno_picking' 202 %}">IP - Retorno do Picking</a>
                    <a href="{% url 'logistica:consolidacao' 203 %}">IP - Consolidação</a>
                    <h5 class="submenu-toggle" data-target="saida-sub">SAP - Saída para Campo</h5>
                    <div class="sub-submenu" id="saida-sub">
                        <a href="{% url 'logistica:saida_campo' 1 %}">SAP - Saída</a>
                        <a href="{% url 'logistica:consulta_result_ec' %}">SAP - Consulta</a>
                    </div>
                    <a href="{% url 'logistica:expedicao' 204 %}">IP - Expedição</a>
                    <a href="{% url 'logistica:troca_custodia' 205 %}">IP - Troca de Custódia</a>
                    <h5 class="submenu-toggle" data-target="estornos-saida-reserva">SAP - Estornos</h5>
                    <div class="sub-submenu" id="estornos-saida-reserva">
                        <a href="{% url 'logistica:estorno_reserva' 85 %}">SAP - Estorno Reserva de Equipamento</a>
                        <a href="{% url 'logistica:cancelamento_saida_campo' 2 %}">SAP - Estorno Saida para Campo</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Sistemas -->
        <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-globe"></i>
                <span class="texto-item">&nbsp; Sistemas (Legados)</span>
            </button>
            <div class="dropdown-content">
                <a href="http://192.168.0.214/erp/login.aspx" target="_blank">Agendamentos</a>
                <a href="http://192.168.0.214/logyxrepresentante/login.aspx" target="_blank">Ordens de serviço</a>
                <a href="http://192.168.0.214/portaldeanalises/login" target="_blank">Portal</a>
                <a href="http://192.168.0.214/sga/login" target="_blank">Central de retenção</a>
                <a href="http://192.168.0.214/Relatorios/login/" target="_blank">Relatórios</a>
                <a href="http://192.168.0.214/site/Index.aspx" target="_blank">Gerencial</a>
            </div>
        </div>

        <!-- Gerenciamento -->
        <div class="dropdown">
            <button type="button" class="dropbtn itens-sidebar">
                <i class="fa-solid fa-users"></i>
                <span class="texto-item">&nbsp; Gerenciamento</span>
            </button>
            <div class="dropdown-content">
                <a href="#">Gestão de Setores/PAs</a>
                <a href="#">Criação de Usuários</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'global/javascript/script.js' %}"></script>