<!--SEMPRE QUE ADICIONAR OU REMOVER UMA ETAPA, AJUSTAR O CSS DO BACKGROUND ETAPAS PARA QUE FIQUE COM AS BORDAS-->

<div id="etapas-logistica" class="etapas-container active">
  <div class="background-etapas">
    <div class="etapas">
      <div class="etapa {% if etapa_ativa == 'pcp' %}ativa{% endif %}">
        <a href="{% url 'logistica:pcp' %}">PCP</a>
      </div>
      
      <div class="etapa {% if etapa_ativa == 'reserva' %}ativa{% endif %}">
        <a href="{% url 'logistica:reserva_equip' 84 %}">Reserva</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'consulta_result_ma' %}ativa{% endif %}">
        <a href="{% url 'logistica:consulta_result_ma'  %}">Consulta Reserva</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'troca de custodia' %}ativa{% endif %}">
        <a href="#">Retorno do Picking</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'consolidacao' %}ativa{% endif %}">
        <a href="#">Consolidação</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'saida_campo' %}ativa{% endif %}">
        <a href="{% url 'logistica:saida_campo' 01 %}">Saída</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'consulta_result_ec' %}ativa{% endif %}">
        <a href="{% url 'logistica:consulta_result_ec'  %}">Consulta Saída</a>
      </div>

      <div class="etapa {% if etapa_ativa == 'expedicao' %}ativa{% endif %}">
        <a href="#">Expedição</a>
      </div>

    </div>
  </div>
</div>