<div class="user-navbar">

    <ul>
        <li>
            <a href="#" title="Perfil">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li>
            <a href="#" title="Configurações">
                <i class="fa fa-cog"></i>
            </a>
        </li>
        <li>
            <a href="#" title="Ajuda">
                <i class="fa fa-question-circle"></i>
            </a>
        </li>
        <li>
            <a href="#" title="Sair">
                <i class="fa fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</div>