<div id="etapas-logistica" class="etapas-container active">
  <div class="etapas">
    <div class="etapa"><a href="{% url 'logistica:reserva_equip' %}">Reserva</a></div>
    <div class="etapa"><a href="{% url 'logistica:estorno_reserva' %}">Estorno</a></div>
    <div class="etapa"><a href="{% url 'logistica:consulta_result_ma' 0 %}">Consulta MA</a></div>
    <div class="etapa"><a href="{% url 'logistica:saida_campo' %}">Saída</a></div>
    <div class="etapa"><a href="{% url 'logistica:cancelamento_saida_campo' %}">Cancelamento</a></div>
    <div class="etapa"><a href="{% url 'logistica:consulta_result_ec' 0 %}">Consulta EC</a></div>
  </div>
</div>