<!--SEMPRE QUE ADICIONAR OU REMOVER UMA ETAPA, AJUSTAR O CSS DO BACKGROUND ETAPAS PARA QUE FIQUE COM AS BORDAS-->

<div id="etapas-logistica" class="etapas-container active">
  <div class="background-etapas">
    <div class="etapas">
      <a class="etapa {% if etapa_ativa == 'pcp' %}ativa{% endif %}" href="{% url 'logistica:pcp_simpl' 201 %}">
        PCP
      </a>

      <a class="etapa {% if etapa_ativa == 'retorno_picking' %}ativa{% endif %}"
        href="{% url 'logistica:retorno_picking_simpl' 202 %}">
        Retorno do Picking
      </a>

      <a class="etapa {% if etapa_ativa == 'consolidacao' %}ativa{% endif %}"
        href="{% url 'logistica:consolidacao_simpl' 203 %}">
        Consolidação
      </a>

      <a class="etapa {% if etapa_ativa == 'expedicao' %}ativa{% endif %}" href="{% url 'logistica:expedicao_simpl' 204 %}">
        Expedição
      </a>

      <a class="etapa {% if etapa_ativa == 'consulta_etiquetas' %}ativa{% endif %}" href="{% url 'logistica:consulta_etiquetas' %}">
        Etiquetas
      </a>
    </div>
  </div>
</div>