{% extends 'global/base.html' %}

{% block content %}
<style>
    .form-card-2col {
        height: auto;
        margin-top: 65px;
    }
</style>

<div class="form-container">
    <div class="form-card-2col">
        <form method="POST">
            {% include 'global/partials/_form_2colV2.html' %}
        </form>
    </div>
</div>

<div style="margin: 20px 90px;">
    <a href="{% url 'crm:lista_faturamento' %}" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i> Voltar
    </a>
</div>
{% endblock %}
