html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --background-formularios: #fff;
  --box-shadow-formularios: 0 0 17px rgba(0, 0, 0, 0.05);
  --borda-formularios: #cccccc3d;
  --form-titulo: #3F3F3F;
  --form-label-color: #3f3f3f;
  --form-input-color: #fff;
  --form-input-border: #cccccc77;
  --button-form-color: #fc9b63;
  --button-form-color-hover: #ff833c;
}

.setcontainer {
  background: var(--background-formularios);
  padding: 22px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-formularios);
  width: 100%;
  max-width: 1200px;
  /* limite no desktop */
  border: 1px solid var(--borda-formularios);
  margin-right: auto;
  height: auto;
  margin-top: 65px;
  margin: 90px auto;
  /* centraliza horizontal e dá espaçamento em cima/baixo */
}



.setcontainer table {
  width: 100%;
  min-width: 1100px;
  /* define largura mínima para não esmagar as colunas */
  border-collapse: collapse;
  table-layout: auto;
}

/* Container para alinhar */
.config-btn-wrapper {
  margin-top: 65px;
  display: flex;
  background-color: #007bff;
  color: #fff;
  margin-left: 65px;
  padding: auto;
  border-radius: 6px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  /* espaço entre ícone e texto */
  transition: background 0.3s ease;
  margin-right: auto;
}


.btn-config:hover {
  background-color: #0366d1;
  text-decoration: none;
  color: #fff;
}

/* Nova classe para garantir alinhamento à esquerda */
.btn-left {
  margin-left: 0;
}

.informacoes_basicas {
  display: flex;
  flex-wrap: wrap;
  /* quebra em linhas */

}

.card-box {
  flex: 1 1 calc(20% - 15px);
  /* até 4 por linha em desktop */

  /* não encolhe demais */
}

.card-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: 3px solid;
  border-radius: 12px;
  padding: 10px;
  width: auto;
  font-size: 18px;
  font-weight: 600px;
  color: #1a1d24;
  text-align: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  /* necessário pro efeito de preenchimento */

  flex: 1;

}

.table-responsive {
  overflow-x: auto;
}

.card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 32px;
  flex-shrink: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.card-text strong {
  font-size: 14px;
  text-align: end;
  color: #111;

}

.card-text small {
  text-align: end;
  font-size: 10px;
  color: #666;
}

/* ===================== */
/*  cores (exemplo redore1) */
/* ===================== */
.card-box.border-redore1 {
  border-color: #fc8e5b;
  color: #fc8e5b;
  text-decoration: none;
}

.card-box.border-redore1 .icon {
  color: #fc8e5b;
}

/* camada de preenchimento que cresce no hover */
.card-box.border-redore1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fc8e5b;
  transition: width 0.4s ease-in-out;
  z-index: 0;
}

/* hover → cobre o card inteiro */
.card-box.border-redore1:hover::before {
  width: 100%;
}

/* garante que texto e ícone ficam sobre o ::before */
.card-box.border-redore1 * {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

/* hover → texto e ícones ficam brancos */
.card-box.border-redore1:hover,
.card-box.border-redore1:hover .icon,
.card-box.border-redore1:hover .card-text,
.card-box.border-redore1:hover strong,
.card-box.border-redore1:hover small {
  color: #fff !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -text-decoration: none !important;
}

/* Cores */
.border-redore,
.redore {
  border-color: #000000ff;
  color: rgb(172, 98, 70);
  -webkit-text-fill-color: rgb(172, 98, 70);
}


.border-redore1,
.redore1 {
  border-color: #fc8e5b;
  color: #fc8e5b;
  -webkit-text-fill-color: #fc8e5b;
}

.border-redore1,
.redore1 {
  border-color: #fc8e5b;
  color: #fc8e5b;
  -webkit-text-fill-color: #fc8e5b;

}

.card-box.border-redore1:hover::before {
  width: 100%;
}


.border-purple,
.purple {
  border-color: #a855f7;
  color: #a855f7;
  -webkit-text-fill-color: #a855f7;
}

.border-green,
.green {
  border-color: #65c07a;
  color: #65c07a;
  -webkit-text-fill-color: #65c07a;
}

.border-green1,
.green1 {
  border-color: #000000ff;
  color: rgb(87, 153, 96);
  -webkit-text-fill-color: rgb(87, 153, 96);
}

.border-blue,
.blue {
  border-color: #5797ff;
  color: #5797ff;
  -webkit-text-fill-color: #5797ff;
}

.border-blue1,
.blue1 {
  border-color: #000000ff;
  color: rgb(82, 105, 238);
  -webkit-text-fill-color: rgb(82, 105, 238);
}

.border-yellow,
.yellow {
  border-color: #bda33d;
  color: #bda33d;
  -webkit-text-fill-color: #bda33d;
}

.border-red,
.red {
  border-color: #e66c6c;
  color: #e66c6c;
  -webkit-text-fill-color: #e66c6c;

}

.border-orange,
.orange {
  border-color: #000000ff;
  color: #fc9b63;
  -webkit-text-fill-color: #fc9b63;
}

.border-black,
.black {
  border-color: #333;
  color: #333;
  -webkit-text-fill-color: #333;
}

.table-responsive {
  overflow-x: auto;
}


/* tabela */
.styled-table {
  width: 100%;
  /* permite arredondar */
  border-spacing: 0;
  /* remove espaço entre células */
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  overflow: hidden;
  /* força o arredondamento funcionar */
}


.styled-table.dark thead tr {
  background: #4a90e2;
  color: #ffffff;
}

.styled-table th,
.styled-table td {
  padding: 10px 14px;
  text-align: center;


}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}

.styled-table tbody tr:hover {
  background-color: #c7e9ffcc;
}

.icon-alert {
  color: rgb(255, 14, 14) !important;
  /* laranja de alerta */
}

.alert-row td {
  border-bottom: 3px solid rgb(255, 14, 14) !important;
  /* borda visível */

  color: rgb(255, 14, 14) !important;
  /* texto em vermelho */
  font-weight: bold;
}


.fa-eye {
  color: #222;

}

.fa-eye:hover {
  color: #0077b6 !important;
}

/* Status da janela */
/* Status apenas no texto */
/* td.status.concluido {
  color: rgb(82, 105, 238);
  font-weight: bold;
  border-bottom: 3px solid  rgb(114, 104, 255) !important; /* borda visível 
  
} */
.status.concluido {
  color: rgb(82, 105, 238) !important;


}

.status.no_tempo {
  color: rgb(87, 153, 96);
  font-weight: bold;
}

.status.no_limite {
  color: #fc8e5b;
  font-weight: bold;
}

.status.atrasado {
  color: rgb(165, 81, 51);
  font-weight: bold;
}

.status.sem_horario_definido {
  color: rgb(114, 114, 114);
  font-weight: bold;
}

/* Flags seguem a mesma lógica */
td.flag.AZUL {
  color: #5797ff !important;


}

.mensagem_critico {
  color: #03fd4e !important;
}

td.flag.AZUL {
  color: #5797ff !important;


}

.flag-AZUL {
  color: rgb(0, 0, 0);


  /* borda visível */
}

.flag-VERMELHO {
  color: rgb(0, 0, 0);

  /* borda visível */
}

td.flag.VERMELHO {
  color: rgb(243, 45, 10) !important;

}

.flag-VERDE {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(87, 153, 96) !important;
  /* borda visível */
}

td.flag.VERDE {
  color: rgb(87, 153, 96) !important;

}


.card-box {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* efeito hover */
.card-box:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* estilo comum ao ativo */
.card-box.active {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  -webkit-text-fill-color: rgb(255, 255, 255)
}

/* força os ícones a ficarem brancos quando ativo */
.card-box.active .icon,
.card-box.active i {
  color: #fff !important;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

/* cada card ativo com sua cor */
.card-box .icon,
.card-box i {
  transition: color 0.2s ease-in-out;
}

.card-box.border-black.icon,
.card-box.border-black.active {
  background: #333;
  /* preto */
  border-color: #333;
}

.card-box.border-blue1.active {
  background: rgb(82, 105, 238);
  /* azul */
  border-color: rgb(82, 105, 238);
}

.card-box.border-green1.active {
  background: rgb(87, 153, 96);
  border-color: rgb(87, 153, 96);
}

.card-box.border-orange.active {
  background: #fc9b63;
  border-color: #fc9b63;
}

.card-box.border-redore.active {
  background: rgb(172, 98, 70);
  /* vermelho */
  border-color: rgb(172, 98, 70);
}


.card-box {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* efeito hover */
.card-box:hover {
  transform: scale(1.0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* estilo ativo comum */
.card-box.active {
  color: #fff;
  transform: scale(0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ícones também ficam brancos */
.card-box.active .icon,
.card-box.active i {
  color: #fff !important;
  text-decoration: none !important;
}

/* cores específicas */
.card-box.border-blue.active {
  background: #5797ff;
}

.card-box.border-green.active {
  background: #65c07a;
}

.card-box.border-yellow.active {
  background: #ffc107;
}

.card-box.border-red.active {
  background: #e66c6c;
}


.filter-card {
  text-decoration: none !important;
}



.abrir-modal {
  cursor: pointer;
  color: #000000ff;
}

.abrir-modal:hover {

  color: rgb(255, 255, 255);
}

.modal-content {

  border-radius: 12px;
  border: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.modal-title {
  color: #222;
}

.tec-nome {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  font-size: 20px;
  color: #222;
}


.tec-ficha,
.ordem-ficha {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.linha {
  display: grid;
  grid-template-columns: 120px 1fr;
  /* primeira coluna fixa */
  align-items: center;
  padding: 8px 11px;
  margin-bottom: 6px;
  border-radius: 8px;
  font-size: 14px;
}

.underline {
  border-bottom: 1px solid rgba(212, 212, 212, 0.301);

}


.linha:hover {
  background-color: #fcfafc;
}

.linha .titulo {
  font-weight: 900;
  color: #444;

}

.filter-card span,
.filter-card strong,
.filter-card i {
  text-decoration: none;
}

.filter-card:hover {
  text-decoration: none;
  /* garante que no hover não volte a linha */
  color: inherit;
  /* evita azul no hover */
}

.filter-card:visited {
  text-decoration: none;
  /* sem linha também no visitado */
  color: inherit;
  /* evita roxo */
}

.linha .valor {
  font-weight: 500;
  color: #222;
  text-align: right;
}

.modal-footer {
  border-top: 1px solid #eee;
  background: #fafafa;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#modalTecnico .btn-primary {
  background-color: #fc9b63;
  border-color: #fc9b63;
  font-weight: 600;
}

#modalTecnico .btn-primary:hover {
  background-color: #ff833c;
  border-color: #ff833c;
}

.whatsapp-link {
  color: #101b14;
  font-weight: bold;
  text-decoration: none;
}

.whatsapp-link:hover {
  text-decoration: underline;
  color: #577732;
}


.unidade-filter {
  margin-top: 10px;
}

/* cada card de unidade */
.unidade-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* ocupa toda a largura da coluna */
  min-height: 55px;
  border: 2px solid #3f3f3f;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #3f3f3f;
  text-decoration: none;
  /* remove sublinhado azul */
  transition: all 0.2s ease-in-out;
}

/* ícone */
.unidade-icon {
  font-size: 16px;
  margin-right: 6px;
  color: #3f3f3f;
}

/* hover */
.unidade-card:hover {
  background-color: #c7e9ffcc;
  transform: translateY(-2px);
}

/* ativo */
.unidade-card.active {
  border-color: #168dd8;
  background: #168dd8;
  color: #fff;
}

.unidade-card.active .unidade-icon {
  color: #fff;
}

.iframe-container {
  margin-top: 40px;
  height: calc(100vh - 40px);
  width: calc(160vh - 40px);
  /* padrão que você já usa */
}

.iframe-container1 {
  margin-top: 40px;
  height: calc(100vh - 40px);
  width: calc(180vh - 40px);
  /* padrão que você já usa */
}

@media (max-width: 1400px) {
  .iframe-container {
    width: calc(100vh - 40px);
    height: calc(120vh - 40px);
  }

  .iframe-container1 {
    margin-top: 40px;
    height: calc(90vh - 40px);
    width: calc(120vh - 40px);
    /* padrão que você já usa */
  }
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  /* remove espaçamento fantasma */
}

.iframe-container1 iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  /* remove espaçamento fantasma */
}

/* ===== BASE DO BADGE ===== */
.status-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-left: 8px;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  min-width: 100px;
  transition: background-color 0.3s ease;
}




/* Caso não corresponda a nenhum valor */
.status-badge:not([data-status]) {
  background-color: #505777;
}