.tabela-container {
    margin-top: 50px;
    display: block;
    max-width: 1150px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    margin-left: 65px;
    padding: 24px;
}

.tabela-consulta {
    min-width: 800px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.tabela-consulta thead {
    background-color: #4a90e2;
    color: #fff;
}

.tabela-consulta th,
.tabela-consulta td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.tabela-consulta tbody tr:hover {
    background-color: #f1f1f1;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.btn-voltar{
    background-color: tomato;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-top: 5px;
}

.btn-p-rec{
    background-color: #fc9b63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-rec{
    margin: 10px;
    background-color: #fc9b63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons_id{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5px;
}