.form-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.form-1col {
    background-color: #ddebf7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #1a1a1a;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}