.user-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: var(--sidebar-bg);
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 9;
}

.user-navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.user-navbar li {
  display: flex;
  align-items: center;
}

.user-navbar a {
  color: #3f3f3f;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.user-navbar a:hover {
  color: #000000;
}

.form-container-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.items-nav-user {
  margin-left: auto;
}

.form-pesquisa {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-pesquisa input[type="text"] {
  padding: 6px 12px;
  border: 1.5px solid var(--borda-formularios);
  border-radius: 8px;
  font-size: 0.95rem;
  background-color: #ffffff;
  color: var(--form-titulo);
  transition: all 0.2s ease-in-out;
  width: 400px;
}

.form-pesquisa input[type="text"]::placeholder {
  color: var(--form-label-color);
}

.form-pesquisa button {
  padding: 7px 16px;
  font-size: 0.95rem;
  font-weight: 600;
  background: var(--button-form-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 6px #f29a9a33;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.form-pesquisa button:hover {
  background: var(--button-form-color-hover);;
  transform: scale(1.03);
}