{% extends 'global/base.html' %} {% block content %}
<div class="form-card-2col" style="margin-top: 65px">
  <h2>Mover Rotas</h2>

  <form method="POST" class="form-grid-2col">
    {% csrf_token %}

    <!-- Box Técnico (coluna 1) -->
    <div>
      <label for="nome_tecnico">Técnico</label>
      <select name="nome_tecnico" class="form-control">
        <option value="">Selecione um técnico</option>
        {% for tec in tecnicos %}
        <option value="{{ tec.uid }}">{{ tec.name }} (UID: {{ tec.uid }})</option>

        {% endfor %}
      </select>
    </div>
    <!-- Box OS (coluna 2) -->
    <div>
      <label for="os_list">Ordem de Serviço(s)</label>
      <textarea
        name="os_list"
        rows="6"
        class="form-control"
        placeholder="Digite uma OS por linha"
      >
{{ request.POST.os_list }}</textarea
      >
    </div>

    <!-- Botão -->
    <div class="form-actions" style="grid-column: 1 / -1">
      <button type="submit" class="submit-button-right">
        <i class="fa fa-exchange-alt"></i> Mover
      </button>
    </div>
  </form>
</div>
{% endblock %}
